:root {
  --max-app-width: 600px;
  --module-bckg: linear-gradient(90deg, #f5f5f5, #ffffff, #fafafa);
}


@font-face {
    font-family:"century-gothic";
    src: url("../static/@fonts/century-gothic/cg.woff2") format("woff2"),url("../static/@fonts/century-gothic/cg.woff") format("woff"); /*url("../static/@fonts/century-gothic/a.otf3") format("opentype"); /*,*/
    font-display:auto;
    font-style:normal;
    font-weight:100;
    font-stretch:normal;
}

@font-face {
    font-family:"CenturyGothic";
    src: url("../static/@fonts/CenturyGothic/CenturyGothic.ttf"); /* format("woff2"),url("../static/@fonts/century-gothic/cg.woff") format("woff"); */ /*url("../static/@fonts/century-gothic/a.otf3") format("opentype"); /*,*/
    font-display:auto;
    font-style:normal;
    font-weight:100;
    font-stretch:normal;
}


html {
    height: 100%;
}

html *{
		scrollbar-width: none;
		    white-space: break-spaces;
}

body{
position: fixed;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
font-family: "Century Gothic", century-gothic, AppleGothic, sans-serif;
/* font-family: "Manrope", sans-serif; */
	/* font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; */
background: linear-gradient(0deg, #ffffffb8, #8b8b8b5e, #ffffff73);
overflow-x: hidden;
overscroll-behavior: contain;
}

body *{
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}



.spinnerSection {
position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
		
/*     top: 50%;
    left: 50%;
    width: 200%;
    height: 200%; */
		

    z-index: 2;
    transition: opacity 0.2s linear;
    display: none;
    /* backdrop-filter: blur(5px); */
		background: rgb(0 0 0 / 10%);
/* 		background: radial-gradient(circle at 30% 30%, #ffffff, rgb(144 139 175));
		    animation: spinnerContainer 3s linear infinite; */
}
.spinnerSection.fade{
	opacity:0;
}
.spinnerSection.show{
   display:block;
}

.spinnerContainer{
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9.5rem;
    height: 9.5rem;
    /* padding: 5rem; */
    /* background: radial-gradient(rgb(203 203 203), white); */
    /* background: linear-gradient(0deg, #ffffffb8, #8b8b8b5e, #ffffff73); */
    border-radius: 50%;
    box-shadow: 0.7rem 0.7rem 0.5rem 0.1rem rgb(150 150 150);
    padding: 0.5rem;
        outline: 5rem rgb(160 160 160 / 15%) double;
    background: radial-gradient(circle at 30% 30%, #ffffff, rgb(144 139 175));
    animation: spinnerContainer 3s linear infinite;
}
.spinnerContainer:before{
content: "";
    position: fixed;
    top: -2rem;
    left: -2rem;
    padding: 0.5rem;
    background: white;
    border-radius: 50%;
    box-shadow: 0rem 0rem 2rem 2rem white;

}
@keyframes spinnerContainer {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
	50% {
		transform: translate(-50%, -50%) rotate(180deg);
	}
  100% {
		transform: translate(-50%, -50%) rotate(0deg);
  }
}
.spinnerWrp{
	position: relative;
	top: 50%;
	transform:translateY(-50%);
	border-radius: 50%;
	margin: auto;
	animation: spinnerWrp 4s ease-in-out infinite alternate;
}

.spinnerWrp *{
    position: absolute;
    box-sizing: border-box;	
    width: 98%;
    height: 98%;
    margin: 1%;
    border-radius: 50%;
    border: double;
    border-color: #ffffff40 #ffffff #ffffff40 #ffffff;
}

@keyframes spinnerWrp {
  0% {
    height: 8rem;
    width: 8rem;
  }
	25% {
    height: 0rem;
    width: 9rem;
	}
	50% {
    height: 9rem;
    width: 0rem;
	}
  100% {
    height: 8rem;
    width: 8rem;
  }
}


@keyframes spinnerRing {
  0% {
    transform: rotate(0deg) scale(1.05);
  }
	50% {
		transform: rotate(180deg) scale(1);
	}
  100% {
    transform: rotate(360deg) scale(1.05);
  }
}


.svgIcon{
	display: block;
	height: 10vw;
	width: 10vw;
	max-width: 10mm;
	max-height: 10mm;
	transition: all 0.3s ease;
	background-repeat: no-repeat;
	background-size: min(6mm, 8vw);
	background-position: center;
	filter: drop-shadow(0.15em 0.25em 0.05em rgb(220, 220, 220));
	border-radius: 1vmin;
	margin: 0 0.2vw;
}

.svgIcon.active:active{
	box-shadow: 0 0 1em rgb(20 180 20) inset, 0 0 0.5em rgb(20 180 20);
	transition:0s;
}
@media(hover: hover) and (pointer: fine) {
	.svgIcon.active:hover:not(.svgIcon.active:active){
	box-shadow: 1px 1px 1px #c5c5c5;
}

.inpEl, textarea{
	
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
		font-size:0.9em;
    /* padding: 0.5em 2.5em; */

    /* color: black; */
    box-sizing: border-box;
    /* position: relative; */
    background: transparent;
    line-height: 1.5em;
    word-break: break-word;
    white-space: pre-line;
   	border: 0;
		border-bottom: 1px solid rgb(240, 240, 240);
		transition: all 0.3s ease;
flex:2;
margin: 0 0.5vw;
}
.appList .inpEl{
    padding: 0.5em 2.5em;
}


input:focus-visible, textarea:focus-visible{
outline:0;
border-bottom: 1px solid black;
color: black;
}
textarea:focus-visible{
  outline:1px solid #f0f0f0;;
}

input::placeholder, textarea:placeholder{
color: transparent;
transition: all 0.3s ease;
}

input:focus-visible::placeholder, textarea:focus-visible::placeholder{
color: black;
opacity: 0.3;
}


/* Credentials*/


.credHintWrp{
    width: 100%;
    margin: 0vh 1vw 2vh;
    background: rgb(245 245 245);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-size: 0.9em;
}

.credHintIcon{
	content: "";
	height: 1em;
	width: 1em;
	margin: 0 1em;
	background-image: url(../../assets/static/appSvg/sprite.svg#hint);
	opacity: 0.5;
	top: -1em;
	position: absolute;
	cursor: help;
}

.credHintHideIcon{
	background-image: url(../../assets/static/appSvg/sprite.svg#arrowUp);
	cursor: auto;
}

.credInpWrp{
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position:relative;
}

.checkboxLabelSpan{
	flex: 2;
	margin: 0 1em;
	font-size: 0.9em;
}
.checked{
	background-image: url(../../assets/static/appSvg/sprite.svg#checked);
	cursor: auto;
}

.unchecked{
	background-image: url(../../assets/static/appSvg/sprite.svg#unchecked);
	cursor: auto;
}

.passInput{
  letter-spacing: 0.2em;
	    width: 100%;
}

.pinInput{
	width: 3em;
	margin: 0.2em;
	background: white;
	text-align:center;
	padding:0.5em;
	flex: none;
}
.pinCharValue{
	border: 1px solid rgb(200, 200, 200)
}

.credShowClearWrp{
	display: flex;
	justify-content: space-between;
	
}

.credFormWrp{
    position: relative;
    /* left: 50%; */
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
    /* transform: translateX(-50%); */
    box-shadow: 0 0 10vh 20vh white;
    background: #ffffff;
    max-width: 900px;
}

.credTaskbar{
	display: flex;
	justify-content: flex-end;
}

.credFormTitle{
text-align: center;
    /* margin-bottom: 4rem; */
/*     border-bottom: 1px solid #f0f0f0;
    padding: 1em; */
}
.credTrashDB{
    /* position: absolute; */
/*     top: 0;
    padding: 0.25em;
    margin: 0.5em; */
		/* background:white; */
}
.credIconWrp{
	margin: 0vh 2vw 2vh;
	border-bottom: 1px solid #f0f0f0;
	padding: 1vh 1vw;
	display: flex;
	justify-content: space-around;
}
.credIcon{
    max-height: 15mm;
    max-width: 15mm;
    background-size: min(12mm, 8vw);
}

.submitCredentialsLabel{
	margin: 2vh 0;
	background: linear-gradient(90deg, rgb(245 245 245), rgb(250 250 250), rgb(250 250 250));
	font-weight: 900;
}
.unlockDb, .protectDb{
	background-image: url(../../assets/static/appSvg/sprite.svg#unlockDb);
	padding: 1vw;
	margin: 1vh 1vw;
	background-size: min(10mm, 8vmin);
}

.protectDb{
	background-image: url(../../assets/static/appSvg/sprite.svg#protectDb);
}

fieldset{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	border: 1px solid transparent;
	flex-wrap: wrap;
	padding: 0;
	margin:0;
	position:relative;
}

fieldset.padded{
	padding: 2vh 2vw;
}





fieldset:active{
	border: 1px solid rgb(240, 240, 240);
}

legend{
		font-size:0.75em;
		font-weight:900;
		text-indent:4em;
		width:100%;
		padding-top:3vh;
}

/* end Credentials*/

/* .formLabel{
padding: 1vh 3vw;
    font-size: 0.75em;
} */

.formLabelInline{
	font-weight: normal;
	padding: 1vh 0;
}

/* .inputBoxInline{
  margin: 1vh 1vw 1vh calc(min(11mm, 10vw) + 2vw);
} */

/* .inputBoxLabel{
	display:block;
	font-weight: 900;
} */

.boxNote{
	/* margin: 0 calc(0.2vw + min(10mm, 10vw)); */
	/* margin: 0%; */
	padding:0.5em;
}
.boxNote.max{
/* position: relative; */
    /* left: 0vmin; */
    /* width: 90%; */
    /* display: block; */
	margin: 0%;
	/* padding:0.5em; */
}

/* Loader*/

.appTitle{
	text-align:center;
	font-size: 1em;
	margin-top: 5vh;
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
.appTitleLongWrp, .appTitleShortWrp{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	/* width: 100%; */
}
.appTitleLongWrp{
		animation: appTitleLongWrp 4s linear 2s forwards;
}
/* .appTitleLongWrp:before{ */

/* 	content: "\2630"; */ /*"\2261";   */
/* } */

.appTitleShortWrp{
	animation: appTitleShortWrp 4s linear 2s forwards;
}
.appTitle span{
    font-size: 2.3vmin;
	width:0.7em;
	display:inline-block;
}
.appTitleShortWrp .fading{
	animation: fading 4s linear 2s forwards;
}

@keyframes appTitleLongWrp {
  0% {
    transform: translate(-50%, 0%) scale(1);
  }
/* 	30% {
		transform: translate(-50%, 100%) scale(1);
	} */
  50% {
    transform: translate(-50%, 200%) scale(1);
  }
  100% {
    transform: translate(-50%, 200%) scale(1);
  }
}

@keyframes appTitleShortWrp {
  0% {
    transform: translate(-50%, 0%) scale(1);
  }
	50% {
    transform: translate(-50%, 0%) scale(1);
	}
  60% {
    transform: translate(-50%, 0%) scale(1, 0.1);
    opacity:1;
    text-transform: none;
  }
	61% {
    transform: translate(-50%, 0%) scale(1, 0.2);
    opacity:0;
		text-transform: uppercase;
	}
	100%{
    transform: translate(-50%, 0%) scale(2);
    opacity:1;
		text-transform: uppercase;
	}
}

@keyframes fading {
  0% {
		width: 0.7em;
		opacity: 1;
  }
  10% {
		width: 0.7em;
		opacity: 0;
  }
	45%{
		width: 0.7em;
		opacity: 0;
	}
	50% {
		width: 0.0em;
		opacity: 0;
	}
  100% {
		width: 0em;
		opacity: 0;
  }
}


.loadIconWrp{
		position: absolute;
		top: 50%;
		width: 100%;
		transform:translateY(-50%);
		display: flex;
    justify-content: space-evenly;
}

.loadIcon {
	max-height: 10vmin;
	max-width: 10vmin;
	background-size: 10vmin;
	padding: 1vmin;
	display: inline-block;
}

.newDbIcon{
  background-image: url(../../assets/static/appSvg/sprite.svg#newDb);
}
.localIcon{
		background-image: url(../../assets/static/appSvg/sprite.svg#local);
}

.dbxFileIcon{
		background-image: url(../../assets/static/appSvg/sprite.svg#dbxFile);
}

.localFileIcon{
		background-image: url(../../assets/static/appSvg/sprite.svg#localFile);
}

.consent, .noConsent{
    position: absolute;
    margin: 1em;
    padding: 1em;
    width: calc(100% - 2em);
    bottom: 3em;
    left: 0;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px #000000;
    text-align: center;
    line-height: 2em;
    font-weight: 900;
		font-size: min(2.5vmin, 1em);
}

.consent{
    background: linear-gradient(45deg, rgb(0 255 0 / 20%), rgb(0 255 0 / 10%));
    outline: 1px solid rgb(0 255 0);
}

.noConsent{
    background: linear-gradient(45deg, #ff00000d, #ff000033);
    outline: 1px solid red;
}

/* Message Module ----- Message Log ----- Message History ---- Notification History ------  msgModule ---- fullHistory */
.msgModule{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 5em;
	width: 100%;
	background: #ffffff;
	line-height: 5em;
	text-indent: 1em;
	border-top: 1px solid #f0f0f0;
	z-index: 2;
	transform:translateY(100%);
	transition: all 0.5s ease-out;
	box-shadow: 0 0 4em white inset;
	font-size: 0.6em;
}
.msgModule::before{
	content: "";
	position: absolute;
	top: -2em;
	height: 4mm;
	width: 4mm;
	margin: 0.25mm;
	background-image: url(../../assets/static/appSvg/sprite.svg#msgHistory);
	/* opacity: 0.5; */
	left: calc(min(100%, calc(50% + (var(--max-app-width) / 2))) - 7mm);
}
.msgModule.popUp{
transform:unset;
transition: all 0.2s ease-out;
}
.msgModule.error{
	box-shadow: 0 0 3px 1px #7d0000 inset;
}
.msgModule.flash{
	box-shadow: 0 0 3px 1px #007f00 inset;
}
.msgModule.fullHistory{
	background:transparent;
	height: 100%;
	transform:unset;
	transition: all 0.2s ease-out;
	backdrop-filter: blur(10px);
	overflow:auto;
}

.msgHistoryRow{
	font-size:1.2em;
	/* margin: 1em; */
	padding: 1em 2em 0.5em 2em;
	text-indent: unset;
	box-shadow: 0 0 3px 1px rgb(240 240 240) inset;
	background: var(--module-bckg);
	line-height: 1.5em;
	word-break: break-word;
	border-bottom: 1px solid black;
}

.msgHistoryRow:before{
	content: "";
	position: absolute;
	left: 1em;
	padding: 0.6em;
	background-image: url(../../assets/static/appSvg/sprite.svg#info);
}

.msgHistoryRow.error{
	border-bottom: 1px solid #b40000;
}
.msgHistoryRow.error:before{
	background-image: url(../../assets/static/appSvg/sprite.svg#crossRed);
}


.msgHistoryRow.flash{
	border-bottom: 1px solid #00b400;
}
.msgHistoryRow.flash:before{
	background-image: url(../../assets/static/appSvg/sprite.svg#tickGreen);
}

/* Database Modification Date Bar ---- dbModifiedBar */
.dbModifiedBar{
	position: fixed;
	bottom: 0;
	line-height: 5mm;
	height: 5mm;
	font-size: xx-small;
	z-index: 1;
	color: rgb(128 128 128);
	width: 100%;
	max-width: var(--max-app-width);
	left: 50%;
	transform: translateX(-50%);
	padding: 0 8mm;
	box-sizing: border-box;
}

.dbModifiedBar::before{
	content: "";
	position: absolute;
	left: 2mm;
	height: 4mm;
	width: 4mm;
	margin: 0.5mm;
	background-image: url(../../assets/static/appSvg/sprite.svg#formEdit);
	opacity: 0.5;
}

.appSection{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(0deg, rgb(245 245 245), rgb(230 230 230), rgb(250 250 250));
	z-index: 1;
	transition: all 0.2s ease-out;
	display: flex;
	justify-content: center
}
.scrollBarVisible *{
	scrollbar-width: auto;
}
.appSection *::-webkit-scrollbar{
	display:none;
}
.scrollBarVisible *::-webkit-scrollbar {
	display: block;
	width: 6px;
	background: linear-gradient(0deg, rgb(245 245 245), rgb(230 230 230), rgb(250 250 250));
}
.scrollBarVisible *::-webkit-scrollbar-thumb {
  background: #d7d7d7;
}
.scrollBarVisible .scrollWrpOverflow::after{
	background:#fafafa;
}


.appSection > *:first-child{ /*will be : scrollWrp*/
    position: relative;
    height: calc(100% - 5mm);
    overflow: auto;
    width: 100%;
    max-width: var(--max-app-width);
		background: var(--module-bckg); /* linear-gradient(90deg, rgb(245 245 245), #ffffff, #fafafa); */
		box-shadow: 0px 0 4px #dcdcdc;
}

.scrollWrpPrivate:before{
    /* content: "Private Mode"; */
		content: "";
    position: fixed;
    width: 100vmin;
    height: 100vmin;
    max-width: var(--max-app-width);
    max-height: var(--max-app-width);
    display: flex;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%) rotate(-0deg);
    color: white;
    opacity: 0.02;
    justify-content: center;
    align-items: center;
    /* background: yellow; */
    font-size: 6vmin;
		background-image: url(../../assets/static/appSvg/sprite.svg#privMode);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
}

.scrollWrpOverflow::after{
	content: "";
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	width: 0.5em;
	height: 2em;
	background: #e6e6e6;
	left: calc(min(100vw, ((100vw - var(--max-app-width))/2) + var(--max-app-width)) - 6px);
	cursor: pointer;
	/* outline: 1px solid #e6e6e6; */
}



.vlistBarWrp{
	position: sticky;
	max-height: 11mm;
	height: 10vw;
	z-index: 1;
    	transition: top 0.1s ease-out;
}

.vListMainBarWrp {
	top: min(-11mm, -10vw);
	z-index: 2;
}

.listTaskBarWrp{
	top: min(11mm, 10vw);
	display: flex;
	background:#fafafa;
	font-size: 0.7em;
	box-shadow: 0px 0 4px #dcdcdc;

	overflow: hidden;
	align-items: center;
	justify-content: flex-end;
}

.taskBarWrpZeroTop{
	top: 0px;
    transition: unset;
}

.vListBarLabel{
	padding: 0 1em;
	text-wrap: balance;
	text-align: justify;
	text-wrap: nowrap;
	overflow: auto;
	flex: 2;
}

.vListBarLabel i{
	font-weight: 900;
}

.vListTaskBar{
	display: flex;
	flex-direction: row-reverse;
}

.vListSortBar{
	position: absolute;
	left:100%;
	display: flex;
	flex-direction: row-reverse;
	background: #fafafa;
	transition: transform 0.2s ease-out;
}


/* .listIcon{
	margin: 0 0.5vmin;
} */

.divider{
border-right: 1px solid #b6b6b6;
    height: min(6mm, 8vw);
    margin: auto;
}


.typeNote{
		background-image: url(../../assets/static/appSvg/sprite.svg#typeNote);

}

.typeLog{
		background-image: url(../../assets/static/appSvg/sprite.svg#typeLog);
}

.detDates{
background-image: url(../../assets/static/appSvg/sprite.svg#vDates);
}

.detNotes{
		background-image: url(../../assets/static/appSvg/sprite.svg#vNotes);
}

.detTags{
	background-image: url(../../assets/static/appSvg/sprite.svg#vTags);
}

.addVendorBtn{
    position: absolute;
    bottom: 5mm;
    /* background-image: url(../../assets/static/appSvg/sprite.svg#vNew); */
    background-image: url(../../assets/static/appSvg/sprite.svg#newEntry);
    right: max(calc(50% - var(--max-app-width) / 2), 0vw);
    z-index: 1;
    background-size: min(10mm, 8vmin);
    margin: 5mm;
    padding: 5mm;
}


.taskSwitchSort{
		background-image: url(../../assets/static/appSvg/sprite.svg#vSort);
}

.taskSwitchDetais{
		background-image: url(../../assets/static/appSvg/sprite.svg#vDetails);
}

.vSortCr8Desc{
		background-image: url(../../assets/static/appSvg/sprite.svg#vSortCr8Desc);
}

.vSortCr8Asc{
		background-image: url(../../assets/static/appSvg/sprite.svg#vSortCr8Asc);
}

.vSortModDesc{
		background-image: url(../../assets/static/appSvg/sprite.svg#vSortModDesc);
}

.vSortModAsc{
		background-image: url(../../assets/static/appSvg/sprite.svg#vSortModAsc);
}

.vSortNameAsc{
		background-image: url(../../assets/static/appSvg/sprite.svg#vSortNameAsc);
}

.vSortNameDesc{
		background-image: url(../../assets/static/appSvg/sprite.svg#vSortNameDesc);
}


.log, .note, .vName, .vTags, .vNotes, .vDates, .vCr8, .vMod{
	font-size: 0.9em;
}

.log, .note{
	padding: 0.5em 7em;
}

.vName{
	/* padding: 0.5em; */
	margin-left: -1vw;
}

.vCr8, .vMod{
	border: none;
}

.vTags, .vNotes{
	max-height: 15vh;
	overflow: auto;	
}

.log:active, .note:active{
	background: #f5f5f5;
}

.log::before, .note::before, .vTags::before, .vNotes::before, .vDates::before, .vCr8::before, .vMod::before{
	content: "";
	position: absolute;
	font-size: 0.9em;
}

.log::before, .note::before{
	padding: 1em;
	margin: 0.25em -3.5em;
}

.vTags::before, .vNotes::before, .vDates::before, .vCr8::before, .vMod::before{
	padding:0.75em;
	margin-left:-2.5em;
}

.log::before{
	background-image: url(../../assets/static/appSvg/sprite.svg#typeLog);
}
.note::before{
	background-image: url(../../assets/static/appSvg/sprite.svg#typeNote);
}

.vTags::before{
	background-image: url(../../assets/static/appSvg/sprite.svg#vTags);
}
.vNotes::before{
	background-image: url(../../assets/static/appSvg/sprite.svg#vNotes);
}
.vDates::before{
	background-image: url(../../assets/static/appSvg/sprite.svg#vDates);
}

.vCr8::before{
	background-image: url(../../assets/static/appSvg/sprite.svg#newEntry);
}

.vMod::before{
	background-image: url(../../assets/static/appSvg/sprite.svg#formEdit);
}


.appTaskbar, .appMoreTaskbar{
	position: relative; 
	background: rgb(253 253 253);
	height: 100%;
	outline: 1px solid #f0f0f0;
z-index:1; 
	display: flex;
}
.appMoreTaskbar{
	transition: all 0.1s ease-out;
	transform: translateY(-200%);
}

.appMoreTaskbarShow{
	transform: translateY(-100%);
}

.changeDbPass{
background-image: url(../../assets/static/appSvg/sprite.svg#passReset);
}

.moreMenu{
	background-image: url(../../assets/static/appSvg/sprite.svg#moreMenu);
	transform:rotate(90deg);
	right: 0%;
}

.emergDb{
	background-image: url(../../assets/static/appSvg/sprite.svg#emergDb);
}
.impDb{
	background-image: url(../../assets/static/appSvg/sprite.svg#impDb);
}
.downDb{
		background-image: url(../../assets/static/appSvg/sprite.svg#downDb);
}
.donate{
	background-image: url(../../assets/static/appSvg/sprite.svg#donate);
}

.langWrp{
    height: 10vw;
    max-height: 10mm;
    display: flex;
    justify-content: flex-end;
}

.langSelectWrp{
    background: #fdfdfd;
    display: inline-table;
    outline: 1px solid #f0f0f0;
		/* position: absolute; */
}

.langGB{
	background-image: url(../../assets/static/appSvg/sprite.svg#langGB);
}
.langPL{
	background-image: url(../../assets/static/appSvg/sprite.svg#langPL);
}
.langES{
	background-image: url(../../assets/static/appSvg/sprite.svg#langES);
}
.langFR{
	background-image: url(../../assets/static/appSvg/sprite.svg#langFR);
}
.reloadApp{
	left: 0;
	background-image: url(../../assets/static/appSvg/sprite.svg#reload);
}

/*#reloadAppBtn{
background-image: url(../../assets/static/appSvg/sprite.svg#local);
 background-image: url(../../assets/static/appSvg/searchReset.svg); 

right: 0%;
}
*/
.searchForm {
    position: absolute;
    background: #ffffff;
    box-sizing: border-box;
    height: 100%;
    margin: 0px auto 0;
    transition: transform 0.1s ease-out;
    outline: 1px solid #f0f0f0;
		display:flex;
		width:100%;
}

.searchFormHide{
transform: translateY(-100%);
}

.inputBoxSearchBtn{
	background-image: url(../../assets/static/appSvg/sprite.svg#search);
/* left: 0;	 */
}

/* .searchBtnShow{
background-image: url(../../assets/static/appSvg/search.svg); 

}
*/
.arrowUp{
/* background-image: url(../../assets/static/appSvg/arrowUp.svg); */
	background-image: url(../../assets/static/appSvg/sprite.svg#arrowUp);
}

.crosx{
/* background-image: url(../../assets/static/appSvg/closeForm.svg); */
	background-image: url(../../assets/static/appSvg/sprite.svg#cross);
	position: absolute;
	top: 0;
	right: 0;
}

.deleteLeft{
	background-image: url(../../assets/static/appSvg/sprite.svg#deleteLeft);
	
}

#inputBoxSearch{
    height: 90%;
/*     padding: 2vmin;
    position: absolute; */
}
.hit{
background: rgba(255, 0, 0, 0.05);
  padding: 0.9em 0;
}

/* .floatBtn{

    filter: drop-shadow(0.15em 0.25em 0.05em rgb(220, 220, 220));

	
} */

.syncIconWrp{
    display: flex;
    justify-content: space-evenly;
    flex: 2;
}

.syncIcon{
    height: 100%;
    max-height: 10mm;

    position: relative;
		background-size: min(9mm, 8vw);
}


/* #syncLocalIcon{
	background-image: url(../../assets/static/appSvg/sprite.svg#local);
}
#syncDbxFileIcon{
background-image: url(../../assets/static/appSvg/sprite.svg#dbxFile);
}
#syncLocalFileIcon{
background-image: url(../../assets/static/appSvg/sprite.svg#localFile);
} */





.storeSyncing{
 animation: syncing 0.07s linear alternate infinite;
}


@keyframes syncing {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.7;
  }
}



/* .formFootIcon{
 background-size: min(9mm, 8vw);
 margin: 0.5mm 5vmin;
 left:1vmin;
}
 */

.absoluteIcon{
position: absolute;
margin: 0 1vw;

}

/* .rightAlign{
	right: 0vmin;
	left: unset;
	display: inline-block;
} */

/* .formUnit{
  padding-bottom: 3vh;
} */

.formHead{
display: flex;
align-items: center;
    position: sticky;
    top: 0;
    background: var(--module-bckg); /* linear-gradient(90deg, rgb(245 245 245), #ffffff, #fafafa); */
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
padding: 1vmin;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
}
.formTitle{
flex: 2;
    padding-bottom: 1vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: min(6mm, 8vw);
    height: 10vw;
    max-height: 10mm;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .formHead *{
  position: relative;
} */

/* .formTitle, .formIcon{
    min-width: 20%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

 */

/* #formIcon{
    min-width: 20%;
    background-repeat: no-repeat;
    background-position: center;

} */

.formIconTypeLog{
	background-image: url(../../assets/static/appSvg/sprite.svg#typeLog);
}
.formIconTypeNote{
	background-image: url(../../assets/static/appSvg/sprite.svg#typeNote);
}

.newLog{
	background-image: url(../../assets/static/appSvg/sprite.svg#newLog);

}

.newNote{
	background-image: url(../../assets/static/appSvg/sprite.svg#newNote);

}

.recordModWrp{
    /* display: block; */
    display: flex;
    width: 100%;
    justify-content: space-between;
		    align-items: center;
    max-height: 10vh;
    overflow: hidden;
		padding-bottom: 1vh;
}

.recordDate{
font-size: xx-small;
    padding: 1em;
    position: relative;
    word-break: break-word;
    color: rgb(200 200 200);
}

.vCr8DateLabel::before{
    padding: 1.1em;
    /* position: absolute; */
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em;
    filter: opacity(0.5);
    margin: 1vw;		
    background-image: url(../../assets/static/appSvg/sprite.svg#newEntry);

}

.vModDateLabel::before{
	padding: 1.1em;
	/* position: absolute; */
	content: "";
	background-repeat: no-repeat;
	background-position: center;
	background-size: 2em;
	filter: opacity(0.5);
	margin: 1vw;
	background-image: url(../../assets/static/appSvg/sprite.svg#formEdit);
}

.sliderTicks {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	width: calc(100% - min(22mm, 20vw) - 4vw);
	left: calc(min(11mm, 10vw) + 2vw);
	padding: 0 1vh;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 3vh;
	font-size: small;
}

.sliderTicks span {
	display: flex;
	justify-content: center;
	width: 1px;
	height: 1vh;
	background: #d3d3d3;
	line-height: 5vh;
	align-items: flex-start;
}


.passRating{
    /* margin: 1vh 3vw; */
    font-size: 0.75em;
		width: 100%;
}

.passRatingRow{
	display: flex;
	padding: 0.5vh 3vw;
}
.passRatingRow *{
flex: 1; 
text-align: center;
}
.passRatingLabelRow{
	font-weight:900;
}

.passRatingIndicatorWrp{
	border:1px solid rgb(240, 240, 240);
	height:0.5em;
	border-radius: 0.25em;
	background: rgb(245, 245, 245);
	margin: 1em 3vw;
}
.passRatingIndicator{
	height: 100%;
	border-radius: 0.25em;
}

.inadequate {background: rgb(200,0,0)}
.extremelyWeak {background: rgb(255,51,0)}
.veryWeak {background: rgb(255,102,0)}
.weak {background: rgb(255,153,0)}
.fair {background: rgb(255,204,0)}
.fine {background: rgb(255,255,0)}
.good {background: rgb(200,255,0)}
.strong {background: rgb(150,255,0)}
.veryStrong {background: rgb(100,255,0)}
.great {background: rgb(30,255,0)}
.excellent {background: rgb(0,240,0)}
.superior {background: rgb(0,200,0)}

/* .inadequate {border-bottom: 0.5vh solid rgb(255,0,0)}
.extremelyWeak {border-bottom: 0.5vh solid rgb(255,51,0)}
.veryWeak {border-bottom: 0.5vh solid rgb(255,102,0)}
.weak {border-bottom: 0.5vh solid rgb(255,153,0)}
.fair {border-bottom: 0.5vh solid rgb(255,204,0)}
.fine {border-bottom: 0.5vh solid rgb(255,255,0)}
.good {border-bottom: 0.5vh solid rgb(214,255,0)}
.strong {border-bottom: 0.5vh solid rgb(172,255,0)}
.veryStrong {border-bottom: 0.5vh solid rgb(130,255,0)}
.great {border-bottom: 0.5vh solid rgb(88,255,0)}
.excellent {border-bottom: 0.5vh solid rgb(44,255,0)}
.superior {border-bottom: 0.5vh solid rgb(0,255,0)} */


.copyClipboard{
/* background-image: url(../../assets/static/appSvg/copyClipboard.svg); */
background-image: url(../../assets/static/appSvg/sprite.svg#copyClipboard);
}

.plusBtn{
	background-image: url(../../assets/static/appSvg/sprite.svg#plusBtn);
}

.minusBtn{
	background-image: url(../../assets/static/appSvg/sprite.svg#minusBtn);
}

.passEye{
/* background-image: url(../../assets/static/appSvg/passShow.svg); */
background-image: url(../../assets/static/appSvg/sprite.svg#passShow);
}

.passEyeHide{
/* background-image: url(../../assets/static/appSvg/passHide.svg); */
background-image: url(../../assets/static/appSvg/sprite.svg#passHide);
}

.newPassBtn{
/* background-image: url(../../assets/static/appSvg/passReset.svg); */
background-image: url(../../assets/static/appSvg/sprite.svg#passReset);
}

.btnCloseForm{
/* background-image: url(../../assets/static/appSvg/closeForm.svg); */
background-image: url(../../assets/static/appSvg/sprite.svg#formClose);
}

.editFormBtn{
/* background-image: url(../../assets/static/appSvg/editForm.svg); */
background-image: url(../../assets/static/appSvg/sprite.svg#formEdit);
}

.submitFormBtn{
/* background-image: url(../../assets/static/appSvg/saveVendor.svg); */
background-image: url(../../assets/static/appSvg/sprite.svg#formSave);
}

.openLinkBtn{
/* background-image: url(../../assets/static/appSvg/link.svg); */
background-image: url(../../assets/static/appSvg/sprite.svg#linkOpen);
}

.trashBin, .deleteVendorBtnIcon{
/* background-image: url(../../assets/static/appSvg/deleteVendor.svg); */
background-image: url(../../assets/static/appSvg/sprite.svg#trashBin);
}

.toggleToNote{
/* background-image: url(../../assets/static/appSvg/sprite.svg#toggleToNote); */
background-image: url(../../assets/static/appSvg/sprite.svg#toggleToNote);

}

.toggleToLog{
/* background-image: url(../../assets/static/appSvg/sprite.svg#toggleToLog); */
background-image: url(../../assets/static/appSvg/sprite.svg#toggleToLog);
}




.formFoot{
height: min(12mm, 10vw);
    position: sticky;
    bottom: 0mm;

    border-top: 1px solid #f0f0f0;
		background: linear-gradient(90deg, rgb(245 245 245 / 80%), rgb(255 255 255 / 80%), rgb(250 250 250 / 80%));
		display: flex;
    justify-content: space-between;
}




.alertTable{
	display: table;
	height: 100%;
  width: 100%;
}
.alertWrp{
    display: table-cell;
    /* position: relative; */
    /* box-shadow: 0px 0 100px 100px #fffffff2; */
    /* background: #fffffff2; */
    line-height: 1.5;
    text-align: center;
    /* vertical-align: top; */
    /* background: linear-gradient(0deg, rgb(245 245 245), rgb(255 255 255), rgb(250 250 250)); */
		padding-top: 10vh;
		/* white-space: break-spaces; */
}

#alertIcon{
    height: 10vh;
    max-height: 100px;
    position: relative;
}

.alertGeneraltMsg{
    margin: 2em 2.5%;
}

.alertChoiceWrp{
display: table;
    width: 100%;
    position: relative;
    max-width: 800px;
    left: 50%;
    transform: translateX(-50%);
    border-spacing: 2em;
}

.alertChoice{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    cursor: pointer;
    transition: box-shadow 0.2s linear;
    font-size: 0.8em;
    margin: 2em 2%;
    padding: 1em 0;
    box-shadow: 0px 1px 0px rgb(240 240 240);;
}

.alertChoice:hover{
box-shadow: 0px 1px 0px rgb(0 0 0);
}

.alertChoice:active{
background: rgb(245 245 245);
}





/*TESTS -------------------------------- */



/*Donate -------------------------------- */
.closeDonate{
    left: 100%;
		top:1%;
    position: sticky;
    /* margin: 1em; */
	background-image: url(../../assets/static/appSvg/sprite.svg#formClose);
}

.donateList{
    position: absolute;
    top: 0px;
    left: 50%;
    width: 100%;
    padding: 0px 1vmin;
    height: calc(100% - 5mm);
    overflow: auto;
    background: linear-gradient(0deg, rgb(245 245 245), #ffffff, #fafafa);
    z-index: 100;
    box-sizing: border-box;
    max-width: var(--max-app-width);
    transform: translateX(-50%);
    box-shadow: 0px 0 4px #dcdcdc;
}
.donateWith, .donateUse, .barcode, .walletAddress{
		height: 20%;
    width: 100%;
    margin: 20% 0;
    outline: 1px solid #e7e7e7;
		background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: center;
}
 .barcode{
		height: 40%;
    outline: 0px solid #e7e7e7;
		background-color: white;
		box-shadow:0 0 5vh 2vh white;
 }

.donateWith_currency{
    background-image: url(../../assets/static/appSvg/currency.png);
    background-size: 80%;
}
.donateWith_crypto{
    background-image: url(../../assets/static/appSvg/crypto.png);
    background-size: 90%;
}

.donateUse_paypal{
	background: #9eb567;
}

.donateUse_revolut{
	background: #a967b5;
}

.walletAddress{
    line-height: 20vh;
    text-align: center;
    font-size: x-small;
    font-weight: 900;
}

.walletAddress::after{
	
    padding: 1.1em;
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: 2em;
    margin: 1em 2em;
    background-image: url(../../assets/static/appSvg/sprite.svg#copyClipboard);
    right: 0;
}

.walletAddress:hover::after{
    box-shadow: 1px 1px 1px #c5c5c5;
}


.donateUse_lunc{
    background-image: url(../../assets/static/appSvg/luncLogo.png);
    background-size: contain;
}

.donateUse_rose{
    background-image: url(../../assets/static/appSvg/roseLogo.png);
    background-size: contain;
}

.donateUse_doge{
    background-image: url(../../assets/static/appSvg/dogeLogo.png);
    background-size: contain;
}

.donateUse_shibainu{
    background-image: url(../../assets/static/appSvg/shibaLogo.png);
    background-size: contain;
}

.donateUse_btt{
    background-image: url(../../assets/static/appSvg/bttLogo.png);
    background-size: contain;
}

.barcode_rose{
    background-image: url(../../assets/static/appSvg/roseBarcode.png);
    background-size: contain;
}

/*End TESTS -------------------------------- */
.center{
	transform:translateX(-50%);
}
/* .vAlign{
  top: 50%;
  transform:translateY(-50%);
} */
.elDimmed{
	opacity:0.2;
}

.elNoEvent{
	pointer-events: none;
}

.elHide{
opacity:0;
pointer-events: none;
}

.elNoDisplay{
display:none;
}

.elSlideOut{
transform: translateX(-100%);
}
.zIndex0{
	z-index:0;
	/* opacity: 0; */
	pointer-events: none;
}

.zIndex2{
	z-index:2;
	opacity: 1;
	pointer-events: all;
}