/* 'frequent_0.082_GitHub' */

:root {
    --body-height: 100vh;
    --body-top-translateY: 0px;
    
    --max-app-width: 900px;
    --min-app-width: 320px;
    
    --min-vList-item-margin: 0.5em;

    --db-mod-bar-height: 2.15rem;

    --svgIcon-padding-smaller: 0.75rem;
    --svgIcon-padding-small: 5mm; /* max(0.75rem, min(4vmin, 5mm)); */
    --svgIcon-padding-medium: 7mm; /* max(0.75rem, min(5vmin, 7mm)); */
/*     --svgIcon-padding-big: max(0.75rem, min(5vmin, 10mm)); */
    --svgIcon-padding-big: 10mm; /* max(0.75rem, min(10vmin, 10mm)); */
    
    --app-shade-grey-0: #000000; /* rgb(0 0 0); #000000; */

    --app-shade-grey-100: #646464; /* rgb(100 100 100); #646464*/
    --app-shade-grey-190: #bebebe; /* rgb(190 190 190); #bebebe; */
    --app-shade-grey-220: #dcdcdc; /* rgb(220 220 220); #dcdcdc; */
    --app-shade-grey-230: #e6e6e6; /* rgb(230 230 230); #e6e6e6; */
    --app-shade-grey-235: #ebebeb; /* rgb(235 235 235); #ebebeb; */
    --app-shade-grey-240: #f0f0f0; /* rgb(240 240 240); #f0f0f0; */
    --app-shade-grey-245: #f5f5f5; /* rgb(245 245 245); #f5f5f5; */
    --app-shade-grey-250: #fafafa; /* rgb(250 250 250); #fafafa; */
    --app-shade-grey-255: #ffffff; /* rgb(255 255 255); #ffffff; */
    
    --app-bckg: linear-gradient(0deg, var(--app-shade-grey-250), var(--app-shade-grey-245), var(--app-shade-grey-240), var(--app-shade-grey-250));

    /* --module-bckg: var(--app-shade-grey-245); */

    --trace-gray-240: 1px solid var(--app-shade-grey-240); /*outline / #f0f0f0 border rgb(240 240 240)*/
    --trace-gray-235: 1px solid var(--app-shade-grey-235); /*outline / #ebebeb border rgb(235 235 235)*/
    --trace-gray-190: 1px solid var(--app-shade-grey-190); /*outline / #bebebe border rgb(190 190 190)*/
    
    /* --trace-input-outline: 1px solid var(--app-shade-grey-235); */ /*outline / #ebebeb border rgb(235 235 235)*/
}

:scope{
    --module-bckg: var(--app-shade-grey-245);
    --trace-input-outline: 1px solid var(--app-shade-grey-235); /*outline / #ebebeb border rgb(235 235 235)*/
    --trace-input-outline-focus: 1px solid var(--app-shade-grey-220);
}



@font-face {
    font-family:"century-gothic";
    src: url("../../static/@fonts/century-gothic/cg.woff2") format("woff2"),url("../../static/@fonts/century-gothic/cg.woff") format("woff"); /*url("../static/@fonts/century-gothic/a.otf3") format("opentype"); /*,*/
    font-display:auto;
    font-style:normal;
    font-weight:100;
    font-stretch:normal;
}

@font-face {
    font-family:"CenturyGothic";
    src: url("../../static/@fonts/CenturyGothic/CenturyGothic.ttf"); /* format("woff2"),url("../static/@fonts/century-gothic/cg.woff") format("woff"); */ /*url("../static/@fonts/century-gothic/a.otf3") format("opentype"); /*,*/
    font-display:auto;
    font-style:normal;
    font-weight:100;
    font-stretch:normal;
}

html {

scrollbar-width: none;
height:100%;

}
html.invert{
    filter:invert(1);
    
}
@scope (html.invert){
    :scope{
        --module-bckg: var(--app-shade-grey-220);
        --trace-input-outline: 1px solid var(--app-shade-grey-190); /*outline / #ebebeb border rgb(235 235 235)*/
        --trace-input-outline-focus: 1px solid var(--app-shade-grey-100);
    }
}


html *{
    scrollbar-width: none;
    white-space: break-spaces;
}

body{
    position: fixed;
    width: 100%;
    height: var(--body-height);
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", century-gothic, CenturyGothic, AppleGothic, sans-serif;
    overflow-x: hidden;
    overscroll-behavior: contain;
    display: flex;
    justify-content: center;
    transform: translateY(var(--body-top-translateY));

}

body *{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


/* --------------------------------------------------------------- Spinner ---------------------------------------------------------------------*/
.spinnerSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: opacity 0.2s linear;
    display: none;
    /* background: rgb(0 0 0 / 10%); */
    backdrop-filter: blur(5px);
}

.spinnerSection.fade{
    opacity:0;
}

.spinnerSection.show{
   display:block;
}

.spinnerSection:before{
    /* background-image: url(../../../assets/static/appSvg/sprite.svg#secreSync); */
    background-image: url(../../../assets/static/icons/android/android-chrome-512x512.png);
    filter: drop-shadow(1px 1px 1px rgb(80 105 125));
    
    /* animation: spinloader 6s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;     */
    animation: spinloader 2s cubic-bezier(0.13, 0.72, 0.29, 0.64) infinite alternate
}

html.invert .spinnerSection:before{
    filter: invert(1);
}

.spinnerSection:before,
.spinnerWrp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vmin;
    height: 100vmin;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    background-size: min(20vmin, 80px);

}

.spinnerWrp:after,
.spinnerWrp:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    padding: min(20vmin, 60px);
    border-radius: 50%;
    transform: translate(-50%, -50%);

    filter: drop-shadow(1px 1px 1px rgb(50 90 110));
    /* box-shadow: -2px -2px 1px 0px rgb(30 100 130); */
    box-shadow: -2px -2px 1px 0px rgb(110 148 173);

}

html.invert .spinnerWrp:after,
html.invert .spinnerWrp:before{
    filter: drop-shadow(1px 1px 1px rgb(50 90 110)) invert(1);
}

 .spinnerWrp:before{
    animation: animloader 6s ease-in-out infinite;
}

.spinnerWrp:after {
    animation: animloader 1.7s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}
@keyframes spinloader {
  0% {
    transform: translate(-50%, -50%) rotateY(180deg);

  }
  100% {
    transform: translate(-50%, -50%) rotateY(360deg);

  }
}
@keyframes animloader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* --------------------------------------------------------------- SVG Icons and Input Elements ---------------------------------------------------------------------*/
.svgIcon{
    display: block;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    filter: drop-shadow(2px 3px 0px var(--app-shade-grey-220));
    filter: drop-shadow(2px 2px 1px var(--app-shade-grey-190));
    filter: drop-shadow(1px 1px 1px var(--app-shade-grey-190));
    border-radius: 15%;
    margin: 0 0.2vw;
    padding: var(--svgIcon-padding-small);
    align-self: center; /*prevents stretching icons inside the flex container*/
}

.svgIcon.active:active{
    box-shadow: 1px 1px 1px var(--app-shade-grey-190) inset;
    filter: drop-shadow(0px 0px 0px var(--app-shade-grey-190));
}

html.invert .svgIcon.active:active{
    box-shadow: 1px 1px 0px var(--app-shade-grey-190);
    filter: drop-shadow(0px 0px 0px var(--app-shade-grey-190));
}

@media(hover: hover) and (pointer: fine) {
    .svgIcon.active:hover:not(.svgIcon.active:active){
        box-shadow: 1px 1px 0px var(--app-shade-grey-190);
    }
    
    html.invert .svgIcon.active:hover:not(.svgIcon.active:active){
        box-shadow: 1px 1px 1px var(--app-shade-grey-190) inset;
    }
}

.inpEl{ /*, textarea */
    font-family: "Century Gothic", century-gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size:0.9rem;
    box-sizing: border-box;
    background: transparent;
    line-height: 1.5em;
    word-break: break-word;
    white-space: pre-line;
    border: 0;
    /* border-bottom: var(--trace-gray-240); */
    transition: all 0.3s ease;
    flex:2;
    margin: 0 0.5rem; /* 0.5vw; */
    padding: 0.5em 0.5rem;  /* 2.5em; */
    
    border-radius:0.5em;
    
    color: var(--app-shade-grey-0);
}

.inpEl[type="range"]{
    padding: 0.5em 0em;
}

html.invert .inpEl[type="range"]{
    filter:invert(1);
}

input:focus-visible, textarea:focus-visible{
    /* outline: 1px solid var(--app-shade-grey-190); */
    
    outline: var(--trace-input-outline-focus);
    background: var(--app-shade-grey-255);
    box-shadow: unset;
}

/* textarea:focus-visible{
    outline: var(--trace-gray-240);
} */

input::placeholder, textarea::placeholder{
    /* color: transparent; */
    transition: all 0.3s ease;
    color: var(--app-shade-grey-220);
    /* letter-spacing: 3em; */
    /* color: red; */
}

input:focus-visible::placeholder, textarea:focus-visible::placeholder{
    /* color: var(--app-shade-grey-100); */
    opacity: 0.3;
}


fieldset {
    width: calc(100% - min(1em, 2vw)* 2);
    box-sizing: border-box;
    display: flex;
    border: 1px solid transparent;
    flex-wrap: wrap;
    padding: 0;
    margin: 0vh min(1em, 2vw);
    position: relative;
    

    border-radius: 0.5rem;

    position: relative;

}

/* fieldset.padded{
    padding: 2vh 2vw;
} */
fieldset.padded {
    padding: 1vh 1vw 2vh;
    margin-top: 1vh;

    background: white;
    box-shadow: 1px 1px 1px 0px var(--app-shade-grey-190), 0 0 1px 0px var(--app-shade-grey-190);

    transition: all 0.3s ease;
}



fieldset.padded:focus-within{
    background:var(--module-bckg);
    box-shadow: 0px 0px 0px 1px var(--app-shade-grey-235);
    /* border: 1px solid var(--app-shade-grey-190); */
    border: var(--trace-input-outline);
    box-shadow: unset;
}

fieldset.pinFieldset .pinInput:last-child:not(.pinInput[required]){
    display:none;
}

fieldset.pinFieldset:focus-within .pinInput:last-child:not(.pinInput[required]){
    display:block;
}

legend {
    font-size: 0.75rem;
    font-weight: 900;
    text-indent: 3em;
    position: relative;
    transition: all 0.3s ease;
    margin-bottom: 1.5vh;
    transform: translate(0, calc(0.375rem + 1vh));
}

fieldset.padded:focus-within > legend{
    text-indent: 0;
    transform: unset;
    padding: 0 1em;
}


fieldset.padded:focus-within > legend:before{
    opacity: 0;
}

legend:before{
    
    content: "";
    position: absolute;
    padding: calc((1rem + 1vh) / 2);
    opacity: 0.5;
    /* filter: drop-shadow(2px 3px 0px var(--app-shade-grey-220)); */
    transition: all 0.3s linear;
    top: calc(-1vh + 0.22em);
    /* left: -0.325rem; */
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    
    
    /* left: calc(-3em - 0.325rem); */
    /* outline: 1px solid */
    
    left: -1vw;
}


legend.note:before{
  background-image: url(../../../assets/static/appSvg/sprite.svg#vNotes);
}
legend.tags:before{
  background-image: url(../../../assets/static/appSvg/sprite.svg#vTags);
}
legend.name:before{
  background-image: url(../../../assets/static/appSvg/sprite.svg#accountName);
}
legend.log:before{
  background-image: url(../../../assets/static/appSvg/sprite.svg#protectDb);
}
legend.pass:before{
  background-image: url(../../../assets/static/appSvg/sprite.svg#passKey);
}
legend.url:before{
  background-image: url(../../../assets/static/appSvg/sprite.svg#chainLink);
}



/* Settings Legensd*/

legend.appWidthLegend:before{
  background-image: url(../../../assets/static/appSvg/sprite.svg#appWidth);
}

legend.maxRevisionsLegend:before{
  background-image: url(../../../assets/static/appSvg/sprite.svg#msgHistory);
}
legend.logOffTimeLegend:before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#logOffApp);
}

legend.appLayoutLegend:before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#donate);
}
/* legend.pinInp:before{
  background-image: url(../../../assets/static/appSvg/sprite.svg#pin);
} */

.secreSyncIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#secreSync);
    background-size: contain;
}

.boxNote{
    margin: 0 calc(2* var(--svgIcon-padding-small) + 0.9vw); /*_0.9vw = 0.5vw of the .inpEl, textarea + (2 * 0.2vw of the svgIcon)_*/
}

.boxNote.max{
    margin: 0%;
    padding:0.5em;
}

/* --------------------------------------------------------------- Credentials ---------------------------------------------------------------------*/
.credFormWrp{
    /* position: relative; */
    padding: 1vmin;
    /* width: 100%; */
    box-sizing: border-box;
/*     box-shadow: 0 0 10vh 20vh var(--app-shade-grey-255);
    background: var(--app-shade-grey-255);
    max-width: var(--min-app-width);
    
    background:red; */
}
.credForm{
    /* min-width: var(--min-app-width); */
    height: 100%;
    overflow:auto;
}
.credForm .padded:last-child{
    position: sticky;
    top: 100%;
  margin-bottom: max(5vh, calc(var(--db-mod-bar-height) + 1rem));
}
.credTaskbar{
    display: flex;
    justify-content: flex-end;
}

.crosx{ /*Shared with Alerts*/
    background-image: url(../../../assets/static/appSvg/sprite.svg#cross);
    position: absolute;
    top: 0;
    right: 0;
    background-size: 60%;
        margin: 2mm;
}

.credFormTitle{
    text-align: center;
    padding: 1vh;
}

.credIconWrp{
    margin: 0vh 2vw 2vh;
    /* border-bottom: var(--trace-gray-240); */
    border-bottom: var(--trace-input-outline);
    padding: 1vh;
    display: flex;
    justify-content: space-around;
}

.credIcon{
    padding: var(--svgIcon-padding-medium);
}

.credHintIcon{
    content: "";
    position: absolute;
    /* top: -1.25rem; */ /* legend max-height: 1rem; (0.5rem above and below fieldset +0.75rem this padding*/
    padding: 0.75rem;
    filter: drop-shadow(0px 0px 0px var(app-shade-grey-0));
    /* margin: 0 1rem; */
    background-image: url(../../../assets/static/appSvg/sprite.svg#hint);
    opacity: 0.5;
    cursor: help;
    
    
    /* top: calc(-2vh - 0.1875rem); */
    /* top: -2vh; */
    top: calc(-0.76875rem - 0.5vh);
}

.credHintWrp{
    width: 100%;
    margin: 0vh 1vw 2vh;
    background:var(--module-bckg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-size: 0.9em;
    
    margin: max(1vh, 1rem) 1vw 0;
    border-radius: 0.5rem;
}

.credHintHideIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#arrowUp);
    cursor: auto;
    transform: rotate(180deg);
}

.credInpWrp{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position:relative;
    margin: 2vh 0 1vh;
}

.passInput{
    letter-spacing: 0.2em;
    width: 100%;
}

.pinInput{
    width: 3em;
    margin: 0.2em;
    background: var(--app-shade-grey-255);
    text-align:center;
    padding:0.5em;
    flex: none;
    outline: var(--trace-input-outline);
}

.pinCharValue{
    /* border: var(--trace-gray-235); */
    /* background: #f6fff6; */
    
    box-shadow: 1px 1px 1px var(--app-shade-grey-235);
}

.submitCredentialsLabel{
    font-weight: 900;
    display: flex;
    flex-direction: column-reverse;
    
    font-size: 0.75rem;
    margin: 5vh 0;
/*     position: absolute;
    top:0;
    margin:0; */
}



.checkedIcon, .uncheckedIcon{
    cursor: auto;
    padding: var(--svgIcon-padding-smaller);
}

.checkedIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#checked);
}

.uncheckedIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#unchecked);
}

.checkboxLabelSpan{
    flex: 2;
    margin: 0 1em;
    font-size: 0.9em;
}


.unlockDbIcon, .protectDb{
    background-image: url(../../../assets/static/appSvg/sprite.svg#unlockDb);
/*     padding: 3vh;
    margin: 1vh; */
    /* padding: var(--svgIcon-padding-big); */
    padding: var(--svgIcon-padding-medium);
}

.protectDb{
    background-image: url(../../../assets/static/appSvg/sprite.svg#protectDb);
}

.bodyFiller{
    position: relative;
    bottom:0;
    padding:2px;
    background:purple;
}

/* ------------------------------------------------------ Loader ----------------------------------------------------------*/

.loaderWrp{
    position:relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    min-width: var(--min-app-width);
}
.appTitle{
    position: absolute;
    top:0;
    width:100%;
    height:40%;
    text-align:center;
    font-size: 1em;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    overflow: hidden;
}

.appTitle .secreSyncIcon{
    opacity: 0;
    padding: var(--svgIcon-padding-big);
    margin: 5vh 0;
    animation: appLogoFadeIn 1s linear 2.5s forwards;
    filter: drop-shadow(3px 3px 3px rgb(210, 200, 200)) invert(1);
}

.appTitleLongWrp, .appTitleShortWrp{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: hidden;
    display:flex;
}

.appTitleLongWrp{
    animation: appTitleLongWrp 4s linear 0.5s forwards;
}

.appTitleShortWrp{
    animation: appTitleShortWrp 2s linear 1.5s forwards;
}

.appTitle span{
    /* font-size: max(2.3vmin, 0.5em); */
        font-size: max(min(4vmin, 2rem), 0.5rem);
        
    width:0.7em;
    display:inline-block;
}

.appTitleShortWrp .appTitleFadeOut{
    animation: appTitleFadeOut 4s linear 0.5s forwards;
}

@keyframes appTitleLongWrp {
    0% {
        transform: translate(-50%, 0%) scale(1);
    }
    50% {
        transform: translate(-50%, 200%) scale(1);
    }
    100% {
        transform: translate(-50%, 200%) scale(1);
    }
}

@keyframes appTitleShortWrp {
    0% {
        transform: translate(-50%, 0%) scale(1);
    }
    50% {
        transform: translate(-50%, 0%) scale(1);
    }
    60% {
        transform: translate(-50%, 0%) scale(1, 0.2);
        text-transform: none;
    }
    61% {
        text-transform: uppercase;
    }
    100%{
        transform: translate(-50%, 0%) scale(1.5);
        opacity:1;
        text-transform: uppercase;
    }
}

@keyframes appTitleFadeOut {
    0% {
        width: 0.7em;
        opacity: 1;
    }
    10% {
        width: 0.7em;
        opacity: 0;
    }
    45%{
        width: 0.7em;
        opacity: 0;
    }
    50% {
        width: 0.0em;
        opacity: 0;
    }
    100% {
        width: 0em;
        opacity: 0;
    }
}

@keyframes appLogoFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.loadIconWrp{ 
    position: absolute;
    top: 50%;
    width: 100%;
    transform:translateY(-50%);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.loadIcon {
    display: inline-block;
    margin-top: var(--svgIcon-padding-small);
        padding: max(min(var(--svgIcon-padding-big), 7.5vmin), var(--svgIcon-padding-medium));
}

.dbxFileIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#dbxFile);
}

html.invert .dbxFileIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#dbxFileInvert);
}

.oneDriveFileIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#oneDriveFile);
}

html.invert .oneDriveFileIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#oneDriveFileInvert);
}

.localFileIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#localFile);
}

html.invert .localFileIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#localFileInvert);
}

.newDbIcon{
  background-image: url(../../../assets/static/appSvg/sprite.svg#newDb);
}

html.invert .newDbIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#newDbInvert);
}

.localIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#local);
}

html.invert .localIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#localInvert);
}

.consent, .noConsent{
    position: sticky;
    /* margin: 50vh 1em 3rem; */
    margin: 50vh 1rem 3vh;
    padding: 1rem;
    /* width: calc(100% - 2em); */
    /* left: 0; */
    /* box-sizing: border-box; */
    /* box-shadow: 2px 2px 5px var(--app-shade-grey-0); */
    text-align: center;
    /* line-height: 1.5rem; */
    line-height: 2;
    font-weight: 900;

    font-size: min(max(2.3vmin, 0.6rem), 1rem);
    max-height: 8rem;
    overflow: auto;
    top: 100vh;
    
    
    transition: all 0.1s ease;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 0px var(--app-shade-grey-190), 0 0 1px 0px var(--app-shade-grey-190);
}

.consent{
    /* background: linear-gradient(45deg, #00b4004d, #00b4001a);  *//*linear-gradient(45deg, rgb(0 180 0 / 30%), rgb(0 180 0 / 10%))*/
    /* outline: 1px solid #00b400; */  /*#0f0 - lime rgb(0 180 0); #00b400 dark-green */ 
    
    background: linear-gradient(130deg, rgb(0 180 0 / 10%), rgb(0 180 0 / 1%));
}

.noConsent{
    background: linear-gradient(135deg, rgb(180 0 0 / 10%), rgb(180 0 0 / 1%)); /*linear-gradient(45deg, rgb(180 0 0 / 30%), rgb(180 0 0 / 10%))*/
    /* outline: 1px solid #b40000; /*#f00 - red rgb(180 0 0); #b40000 dark-red */  */
}
.consent:hover, .consent:active{
    border-color: #00b400; */  /*#0f0 - lime rgb(0 180 0); #00b400 dark-green */ 
}

.noConsent:hover, .noConsent:active{
    border-color: #b40000; /*#f00 - red rgb(180 0 0); #b40000 dark-red */ 
}



/* ------------------------------------------------------ Message Module ----------------------------------------------------------*/
.msgModule{
    /* display:none; */
    position: fixed;
    /* position: absolute; */
    bottom: 0;
    /* left: 0; */
    width: 100%;
    background: var(--app-shade-grey-255);
    text-indent: 1em;
    /* border-top: var(--trace-gray-240); */
    z-index: 2;
    transform:translateY(100%);
    transition: all 0.5s ease-out;
    box-shadow: 0 0 4em var(--app-shade-grey-255) inset;
    font-size: 0.7rem;
    line-height: 2;
    min-width: var(--min-app-width);
    max-width: var(--max-app-width);
    

}

/* .msgModule::before{
    content: "";
    position: absolute;
    top: calc(0mm - var(--db-mod-bar-height));
    left: calc(min(100%, calc(50% + (var(--max-app-width) / 2))) - var(--db-mod-bar-height) * 1.5);
    padding: calc(var(--db-mod-bar-height) / 2);
    background-image: url(../../../assets/static/appSvg/sprite.svg#msgHistory);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
} */

/* .beforeMsgModule{
    position: absolute;
    top: calc(0mm - var(--db-mod-bar-height)); 
    left: calc(min(100%, calc(50% + (var(--max-app-width) / 2))) - var(--db-mod-bar-height) * 1.5);
    padding: calc(var(--db-mod-bar-height) / 2);
    background-image: url(../../../assets/static/appSvg/sprite.svg#msgHistory);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-out;
} */

.beforeMsgModule {
    position: absolute;
    top: calc(0mm - var(--db-mod-bar-height)/1.25);
    left: calc(min(100%, calc(50% + (var(--max-app-width) / 2))) - var(--db-mod-bar-height));
    padding: calc(var(--db-mod-bar-height) / 3);
    background-image: url(../../../assets/static/appSvg/sprite.svg#msgHistory);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-out;
}

.fullArchive .beforeMsgModule{
    opacity: 0;
    
}

.msgModule.popUp{
    transform:unset;
    transition: all 0.2s ease-out;
    height:auto;
}
.msgModule.fullArchive{
    background:transparent;
    height: 100%;
    transform:unset;
    transition: all 0.2s ease-out;
    backdrop-filter: blur(10px);
    overflow:auto;
    /* left:0; */
}
.msgHistoryContentWrp{
    overflow:auto;
    height: calc(100% - 3em);
        /* min-width: calc(var(--min-app-width)* 1.5); */
}

.msgModule.slideDown{
    transform:translateY(100%);
}

.msgModule.error{
    box-shadow: 0 0 3px 1px #7d0000 inset;
}

.msgModule.flash{
    box-shadow: 0 0 3px 1px #007f00 inset;
}

.msgHistoryRow{
    display: flex;
    align-items: center;
    text-indent: 0;
    /* box-shadow: 1px 1px 0px var(--app-shade-grey-190) inset, 1px 1px 0px var(--app-shade-grey-190); */
    background: var(--app-shade-grey-250);
    word-break: break-word;
    
    /* background:red; */
        border-bottom: 1px solid var(--app-shade-grey-230);
}

.msgHistoryRow:before{
    content: "";
    padding: 0.75em;
    margin: 0.75em;
}

.msgHistoryRow.title:before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#msgHistory);
}

.msgHistoryRow.info:before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#info);
}

html.invert .msgHistoryRow.info:before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#infoInvert);
}

.msgHistoryRow.error:before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#crossRed);
}

html.invert .msgHistoryRow.error:before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#crossRedInvert);
}

.msgHistoryRow.flash:before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#tickGreen);
}

html.invert .msgHistoryRow.flash:before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#tickGreenInvert);
}


.msgHistoryRow.dev:before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#secreSync);
}

.msgHistoryRow .msgDate, .title{
    font-weight: 900;
    padding-right: 1em;
}
.msgHistoryRow.title{
    position: sticky;
    top:0;
    padding: 0;
    justify-content: space-between;
   /* min-width: calc(var(--min-app-width)* 1.5); */
   /* background: var(--app-shade-grey-235); */
       background: var(--module-bckg);
}

.closeFullArchive{
    
    padding: 1.5em;

    background-image: url(../../../assets/static/appSvg/sprite.svg#cross);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
/* ------------------------------------------------------ appStatusBar Bar ----------------------------------------------------------*/
.appStatusBar{

/*     position: absolute;
    bottom: 0;
    height: var(--db-mod-bar-height);
    font-size: xx-small;
    z-index: 1;
    width: 100%;
    max-width: var(--max-app-width);
    display: flex;
    align-items: center;
    opacity: 0.5;
 */



/*     position: absolute;
    bottom: 0;
    height: var(--db-mod-bar-height);
    font-size: xx-small;
    z-index: 1;
    display: flex;
    align-items: center;
    opacity: 0.5;
    white-space: nowrap;
    max-width: calc(100% -  var(--db-mod-bar-height) * 2);
    overflow: scroll;
    left: 0; */

    position: absolute;
    width: 100%;
    bottom: 0;
    height: var(--db-mod-bar-height);
    font-size: xx-small;
    z-index: 1;
    display: flex;
    align-items: center;
    /* opacity: 0.5; */
    justify-content: center;
}

.statusContainer{
max-width: var(--max-app-width);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    padding-right: 1.5rem;
    align-items: center;
    height: 100%;
    /* background */
}

.appStatusBar span{
/*     overflow: scroll;
    flex: 1; */
    white-space: nowrap;
    margin-right: 1rem;
}

.statusContainer::before{
content: "";
    position: relative;
    padding: calc(var(--db-mod-bar-height) / 4);
    margin: 0 calc(var(--db-mod-bar-height) / 4);
    background-image: url(../../../assets/static/appSvg/sprite.svg#vMod);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.statusContainer.withHit::before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#search);
}

/* ------------------------------------------------------  Scroll Bar ----------------------------------------------------------*/ 
.scrollBarVisible *{
    scrollbar-width: auto;
}
.appSection *::-webkit-scrollbar{
    display:none;
}

.scrollBarVisible *::-webkit-scrollbar {
    display: block;
    width: 6px;
    background: var(--app-bckg);
}

.scrollBarVisible *::-webkit-scrollbar-thumb {
    background: #d7d7d7;
}
.scrollBarVisible .scrollWrpOverflow::after{
    background: var(--app-shade-grey-250);
}

.scrollWrpPrivate:before, .scrollWrpPastRevision:before{
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-0deg);
    opacity: 0.02;
    background-image: url(../../../assets/static/appSvg/sprite.svg#privMode);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(3px 3px 3px var(app-shade-grey-0));
    padding: calc(min(var(--max-app-width), 100vmin) / 2);
    
    z-index: 2;
    pointer-events: none;
}
.scrollWrpPrivate:before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#privMode);
}

.scrollWrpPastRevision:before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#msgHistory);
}

html.invert .scrollWrpPrivate:before, html.invert .scrollWrpPastRevision:before{
    opacity: 0.2;

}

.scrollWrpOverflow::after{
    content: "";
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 0.5em;
    height: 2em;
    background: #e6e6e6;
    left: calc(min(100vw, ((100vw - var(--max-app-width))/2) + var(--max-app-width)) - 6px);
    cursor: pointer;
}

/* ------------------------------------------------------ App Section  ----------------------------------------------------------*/
.appSection{
    /* position: fixed; */
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--app-bckg);
    z-index: 1;
    transition: all 0.2s ease-out;
    display: flex;
    justify-content: center
}


.appSection > *:first-child{ /*will be : scrollWrp*/
    position: relative;
    height: calc(100% - var(--db-mod-bar-height)); /* 5mm; */
    overflow: auto;
    width: 100%;
    max-width: var(--max-app-width);
    background: var(--module-bckg);
    /* box-shadow: 0px 0 4px var(--app-shade-grey-220); */
    
    /* background:red; */
/* outline: var(--trace-input-outline); */
}

.appList > *:first-child{
    overflow: hidden;
    overflow-y: auto;
}

/* .................................................. Vendor List .............................................................. */
/* ********************** Vendor List Bars ********************** */
.vlistBarWrp{
    position: sticky;
    height: 11mm;
    z-index: 1;
    transition: top 0.1s ease-out;
}

.vListMainBarWrp {
    top: -11mm;
    z-index: 2;
}

.vListTaskBarWrp, .vListAuxBarWrp{
    top: 11mm;
    display: flex;
    justify-content: flex-end;
    font-size: 0.7rem;
    overflow: hidden;
    align-items: center;
    background:var(--module-bckg);
}

.vListTaskBarWrp{
    transition: opacity 0.3s linear;
}

.vListAuxBarWrp{
    outline: var(--trace-input-outline); 
}

.vListAuxBarWrpDim{
    opacity: 0.2;
}

.vListAuxBarWrpDim:hover{
    opacity: 1;
}

body.mobileLayout .vListAuxBarWrp{
    top: 0mm;
}

body.mobileLayout .vListTaskBarWrp{
    top: calc(100% - 2.5rem);

}


.taskBarWrpDoubleTop{
    top: 22mm;
    /* top: 11mm; */
}

body.mobileLayout .taskBarWrpDoubleTop{
    top: 11mm;
}

.taskBarWrpZeroTop{
    top: 0px;
    /* transition: unset; */ /* WHY WAS IT LIKE THAT??????????????????*/
}

/* ********************** App Bars ********************** */
.appTaskbar, .appMoreTaskbar{
    position: relative; 
   background:var(--module-bckg);
    height: 100%;
    z-index:1; 
    display: flex;
    outline: var(--trace-input-outline);
}

body.mobileLayout .appTaskbar, body.mobileLayout .appMoreTaskbar{
    outline: unset;
}

/* ++++++++ Main App Taskbar ++++++++ */
/* __ Main Options Icons __ */
.inputBoxSearchBtn{
    background-image: url(../../../assets/static/appSvg/sprite.svg#search);
        margin-left: 0.5em;
}

.flexIconWrp{ /* Shared with appMoreTaskbar*/
    display: flex;
    justify-content: space-evenly;
    flex: 2;
}

.storeSyncing{
 animation: syncing 0.07s linear alternate infinite;
}

@keyframes syncing {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.7;
    }
}

.moreMenu{
    background-image: url(../../../assets/static/appSvg/sprite.svg#moreMenu);
    /* right: 0%; */
        margin-right: 0.5em;
}

/* __ Search Form __ */
.searchForm {
    position: absolute;
    /* background */: var(--app-shade-grey-255);
    box-sizing: border-box;
    height: 100%;
    margin: 0px auto 0;
    transition: transform 0.1s ease-out;
    /* outline: var(--trace-input-outline); */
    display:flex;
    min-width:100%;

    background:var(--module-bckg);
}

.searchFormHide{
    transform: translateY(-100%);
}

.arrowUp{
    background-image: url(../../../assets/static/appSvg/sprite.svg#arrowUp);
    margin-left: 0.5em;
}

.appMoreTaskbar .arrowUp{
    margin-right: 0.5em;
}

#inputBoxSearch{
    height: 70%;
    width: 60px;
    padding: 0.5em min(5vw, 3em);
    align-self: center;
     background: var(--app-shade-grey-255);
}
.searchForm .deleteLeft{
    margin-right: 0.5em;
}
.deleteLeft{
    background-image: url(../../../assets/static/appSvg/sprite.svg#deleteLeft);
}

/* ++++++++ More Options Taskbar ++++++++ */
.appMoreTaskbar{
    transition: all 0.1s ease-out;
    transform: translateY(-200%);
}

.appMoreTaskbarShow{
    transform: translateY(-100%);
}

/* __ More Options Icons __ */
.reloadApp{
/*     left: 0; */
    background-image: url(../../../assets/static/appSvg/sprite.svg#reload);
    margin-left: 0.5em;
}

.changeDbPass{
    background-image: url(../../../assets/static/appSvg/sprite.svg#resetPass);
}

.donate{
    background-image: url(../../../assets/static/appSvg/sprite.svg#donate);
}

.swapTheme{
    background-image: url(../../../assets/static/appSvg/sprite.svg#swapTheme);
}

.appWidth{
    background-image: url(../../../assets/static/appSvg/sprite.svg#appWidth);
}
.appLayout{
    background-image: url(../../../assets/static/appSvg/sprite.svg#donate);
}

.logOffApp{
    background-image: url(../../../assets/static/appSvg/sprite.svg#logOffApp);
}

.expDbIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#expDb);
}

html.invert .expDbIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#expDbInvert);
}

.impDbIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#impDb);
}

html.invert .impDbIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#impDbInvert);
}

.emergDbIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#emergDb);
}
html.invert .emergDbIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#emergDbInvert);
}
.settings{
    background-image: url(../../../assets/static/appSvg/sprite.svg#cog);
}




/* __ More Options Language Wrap / Shared with Loader __ */
.langWrp{
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    position: relative;
}



.langSelectWrp{
        border-radius: 0 0 0.5em 0.5em;
    outline: var(--trace-gray-240);
    background: var(--module-bckg);

}

/* html.invert .langSelectWrp{
    outline: 1px solid var(--app-shade-grey-190);
} */

html.invert .langWrp .svgIcon{
    filter: invert(1);
}

html.invert .langWrp .svgIcon:active{
    filter: invert(1);
}


.langEN{
    background-image: url(../../../assets/static/appSvg/sprite.svg#langEN);
}

.langPL{
    background-image: url(../../../assets/static/appSvg/sprite.svg#langPL);
}

.langES{
    background-image: url(../../../assets/static/appSvg/sprite.svg#langES);
}

.langFR{
    background-image: url(../../../assets/static/appSvg/sprite.svg#langFR);
}

/* ++++++++ List Taskbar ++++++++ */
.vListBarLabel{
    padding: 0 1em;
    text-align: justify;
    text-wrap: nowrap;
    overflow: auto;
    flex: 2;
}

.vListBarLabel i{
    font-weight: 900;
}

.vListChangeBar{
    display: flex;
    flex-direction: row-reverse;
    min-width: 50%;
    justify-content: space-around;
    align-items: center;
}

body.mobileLayout .vListChangeBar {
    width: 100%;
}

/* ++++++++ List Sortbar ++++++++ */
.vListSortBar{
    position: absolute;
    left:100%;
    display: flex;
    flex-direction: row-reverse;

        background: var(--app-shade-grey-245);
    transition: transform 0.2s ease-out;
    min-width: 25%;
    justify-content: space-around;
        align-items: center;
}

body.mobileLayout .vListSortBar {
    width: 50%;
    background: var(--module-bckg);
}

.detDates{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vDates);
}

.detNotes{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vNotes);
}

.detTags{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vTags);
}

.divider{
    /* border-right: 1px solid var(--app-shade-grey-220); */
    border-right: var(--trace-input-outline);
    height: min(6mm, 8vw);
    /* margin: auto; */
}

body.mobileLayout .divider{
margin: unset;
}

.typeNote{
    background-image: url(../../../assets/static/appSvg/sprite.svg#typeNote);
}

.typeLog{
    background-image: url(../../../assets/static/appSvg/sprite.svg#typeLog);
}

.vTaskChangeSort{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vSort);
}

.vTaskChangeDetais{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vDetails);
}

.vSortCr8Desc{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vSortCr8Desc);
}

.vSortCr8Asc{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vSortCr8Asc);
}

.vSortModDesc{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vSortModDesc);
}

.vSortModAsc{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vSortModAsc);
}

.vSortNameAsc{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vSortNameAsc);
}

.vSortNameDesc{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vSortNameDesc);
}

/* ************** Vendor List Wrap *************** */
.vListWrp{
    position:relative;
}

body.mobileLayout .vListWrp{
    margin-top: -11mm;
}

body.mobileLayout .vListWrp .vEntry:last-child{
    margin-bottom: calc(var(--svgIcon-padding-small) + 2rem);
}

.vEntry{
    overflow:auto;

    border-radius: 0.5em;

    background: white;
    padding: min(1.5vmin, 0.5rem);
    margin: 0.5rem;
    box-shadow: 1px 1px 1px 0px var(--app-shade-grey-190), 0 0 1px 0px var(--app-shade-grey-190);
}

html.invert .vEntry{
        box-shadow: -1px -1px 1px 0px var(--app-shade-grey-190), 0 0 3px 0px var(--app-shade-grey-190);
}


.vEntry > div > .inpEl:first-child:not(.inpEl:last-child){
    font-weight: 900;
}
.vEntry:active{
    background: var(--module-bckg);
}
.vLog, .vNote, .vTrash, .vName, .vTags, .vNotes, .vDates, .vCr8, .vMod{
    font-size: 0.9em;
    padding: 0.5em 2.5em;
}

.vEmpty, .vLog, .vNote, .vTrash{
    position:relative;
/*     padding: 0.5em 0em 0.5em 2em; */ /*Width of icon to the left, o to the right*/
    min-width: var(--min-app-width);
    margin: 0 var(--min-vList-item-margin); /* 10vw; */
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    min-width: calc(var(--min-app-width) - (min(1vmin, 0.3em) * 4) - var(--min-vList-item-margin)); /* - (min(1vmin, 0.3em) * 4) is the margins and paddings of the vEntry */
    padding: 0.2em 0em 0.2em 2em;
    min-width: calc(var(--min-app-width) - 3rem)
}

.vEmpty{
    height:50vh;
}

.vName{
    padding-left: 0.5em; /*this will aligh with Notes icon below*/
    font-size: 0.9rem;
    
    word-break: keep-all;
    white-space: nowrap;
}

.vCr8, .vMod{
    border: none;
    margin-left: unset;
}

.vTags, .vNotes{
    max-height: 15vh;
    overflow: auto;	
}

.vLog::before, .vNote::before, .vTrash::before, .vTags::before, .vNotes::before, .vDates::before, .vCr8::before, .vMod::before{
    content: "";
    position: absolute;
    font-size: 0.9em;
}

.vEntry > div > .inpEl:not(.inpEl:last-child){
    border-bottom: var(--trace-gray-240);
    border-radius: 0;
}

html.invert .vEntry > div > .inpEl:not(.inpEl:last-child){
    border-bottom: 1px solid var(--app-shade-grey-230);
    border-radius: 0;
}


.vLog::before, .vNote::before, .vTrash::before{
/*     padding: 1em;
    margin: 0.25em -3.5em; */
    padding: 0.75rem;
    margin: 0.25rem -2em; /*left by width of the icon (2em) */
}

.vTags::before, .vNotes::before, .vDates::before, .vCr8::before, .vMod::before{
    padding:0.75em;
    margin-left:-2.5em;
}

.vLog::before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#typeLog);
}
.vNote::before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#typeNote);
}
.vTrash::before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#trashBin);
}
.vTags::before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vTags);
}
.vNotes::before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vNotes);
}
.vDates::before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vDates);
}

.vCr8::before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vCr8);
}

.vMod::before{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vMod);
}

.addVendorBtn{
    position: absolute;
    bottom: var(--db-mod-bar-height); /* 5mm; */
    right: max(calc(50% - var(--max-app-width) / 2), 0vw);
    margin: var(--svgIcon-padding-medium); /* min(10vmin, 7mm); */
    padding: var(--svgIcon-padding-medium); /* min(10vmin, 7mm); */
    background-image: url(../../../assets/static/appSvg/sprite.svg#vCr8);
    z-index: 1;
}

body.mobileLayout .addVendorBtn{
    margin-bottom: calc(var(--svgIcon-padding-medium) + 11mm); /* min(10vmin, 7mm); */
}

.hit{
    background: rgb(150 255 150);
}

html.invert .hit{
    background: rgb(255 0 255);
    color:white;
}

/* ************** Application Form *************** */
.appForm > div > * { /*All direct descendands of the scrollWrp in the Application Form*/
    /* min-width: var(--min-app-width); */
}

/* __ Application Form Head __ */
.formHead{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vmin;
    /* background: var(--module-bckg); */
    border-bottom: var(--trace-gray-240);
    z-index: 1;
    
        backdrop-filter: blur(5px);
        background: rgb(255 255 255 / 75%);
        background: rgb(250 250 250 / 75%);
        
        
/*     width: 100%;
    max-width: var(--max-app-width);
    box-sizing: border-box; */
}

body.mobileLayout .formHead{
    justify-content: center;
}

/* .formHead.fix{
    position: fixed;
} */

.formTitle{
    display: flex;
    flex: 2;
    justify-content: center;
    text-align: center;
    max-height: 2.5em; /* calc(var(--svgIcon-padding-small) * 2); *//* 10mm; */
    padding: 0 1em;
    overflow: auto;
}

.recordModWrp, .revisionWrp{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0vh 2vw 2vh;
}


.recordDate{
    font-size: xx-small;
    /* padding: 1em; */
    word-break: break-word;
    display: flex;
    align-items: center;
    text-align: center;
    opacity:0.5;
}

.vCr8DateLabel{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vCr8);
    /* padding:0.75rem; */
    padding: var(--svgIcon-padding-smaller);
    filter: drop-shadow(0px 0px 0px var(app-shade-grey-0));
}

.vModDateLabel{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vMod);
    /* padding:0.75rem; */
    padding: var(--svgIcon-padding-smaller);
    filter: drop-shadow(0px 0px 0px var(app-shade-grey-0));
}

.revisionWrp{
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: -2vh 2vw 1vh;
}

.revisionScroll{
    display: flex;
    justify-content: space-between;
    /* padding: 0 1em; */
    /* background: pink; */
}
.revisionScroll > .svgIcon{
    /* padding: 0.75rem; */
    padding: var(--svgIcon-padding-smaller);
    filter: drop-shadow(0px 0px 0px var(app-shade-grey-0));
    margin: 0.5em 0.5rem 0;
}
.revisionCaption{
line-height: 1.5rem;
    font-size: 0.75rem;
    text-align: right;
    background: white;
    border-radius: 0.5em;
    padding: 0 1em;
    margin: 0.5em 1em 0;
    opacity: 0.5;
    box-shadow: 1px 1px 2px 0px var(--app-shade-grey-190);
    
        flex: 2;
    text-align: center;
}

/* __ Application Form Password Rating __ */
.passGrade{
    font-size: 0.75em;
    width: 100%;
}

.passGradeRow{
    display: flex;
    padding: 0.5vh 3vw;
}

.passGradeRow *{
    flex: 1; 
    text-align: center;
}

.passGradeLabelRow{
    font-weight:900;
}

.passGradeBarWrp{
    height:0.5em;
    border-radius: 0.25em;
    margin: 1em 3vw;
}

.passGradeBarWrp div{ /*passGradeBar*/
    height: 100%;
    border-radius: 0.25em;
}

html.invert .passGradeBarWrp div{ /*passGradeBar*/
    filter:invert(1);
}

/* __ Application Form Icons __ */
.formIconTypeLog{
    background-image: url(../../../assets/static/appSvg/sprite.svg#typeLog);
}
.formIconTypeNote{
    background-image: url(../../../assets/static/appSvg/sprite.svg#typeNote);
}

.formIconTypeLogNew{
    background-image: url(../../../assets/static/appSvg/sprite.svg#typeLogNew);
}

.formIconTypeNoteNew{
    background-image: url(../../../assets/static/appSvg/sprite.svg#typeNoteNew);
}

.copyClipboard{
    background-image: url(../../../assets/static/appSvg/sprite.svg#copyClipboard);
}

.increase{
    background-image: url(../../../assets/static/appSvg/sprite.svg#increase);
}

.decrease{
    background-image: url(../../../assets/static/appSvg/sprite.svg#decrease);
}

.passEye{
    background-image: url(../../../assets/static/appSvg/sprite.svg#showPass);
}

.passEyeHide{
    background-image: url(../../../assets/static/appSvg/sprite.svg#hidePass);
}

.newPassBtn{
    background-image: url(../../../assets/static/appSvg/sprite.svg#resetPass);
}

.btnCloseForm{
    background-image: url(../../../assets/static/appSvg/sprite.svg#closeForm);
}

.editFormBtn{
    background-image: url(../../../assets/static/appSvg/sprite.svg#vMod);
}

.submitFormBtn{
    background-image: url(../../../assets/static/appSvg/sprite.svg#saveForm);
}

.restoreRevisionBtn, .restoreTrashedBtn{
    background-image: url(../../../assets/static/appSvg/sprite.svg#restoreRevision);
}

.revisionHistory{
    background-image: url(../../../assets/static/appSvg/sprite.svg#msgHistory);
}

.previousVersion{
    background-image: url(../../../assets/static/appSvg/sprite.svg#previousVersion);
}

.nextVersion{
    background-image: url(../../../assets/static/appSvg/sprite.svg#nextVersion);
}

.openLinkBtn{
    background-image: url(../../../assets/static/appSvg/sprite.svg#openLink);
}

.trashBin, .deleteVendorBtnIcon{
    background-image: url(../../../assets/static/appSvg/sprite.svg#trashBin);
}

.toggleToNote{
    background-image: url(../../../assets/static/appSvg/sprite.svg#toggleToNote);
}

.toggleToLog{
    background-image: url(../../../assets/static/appSvg/sprite.svg#toggleToLog);
}

.share{
    background-image: url(../../../assets/static/appSvg/sprite.svg#share);
}

.appForm .padded:nth-last-child(2){ /*Last Padded Fieldsed in the Form*/
    /* margin-bottom: calc(2vmin + var(--svgIcon-padding-small) * 2); */
    /* margin-bottom:calc(2vmin + var(--svgIcon-padding-small) * 2 + 1vh); */
        margin-bottom: 2vh;
}

/* .appForm .padded:nth-child(4){
    margin-top: 0;
} */

.formFoot{
    /* position: fixed; */
    position: sticky;
    bottom:0;
    /* top: min(100%, calc(100vh - 11mm - 2vmin - 1.5rem)); */
    
    top: min(100%, calc(var(--body-height) - (var(--svgIcon-padding-small) * 2) - 2vmin - var(--db-mod-bar-height) - 1px));
    
    display: flex;
    justify-content: space-between;
    width: min(100%, var(--max-app-width));
    /* bottom: var(--db-mod-bar-height); */
    border-top: var(--trace-gray-240);

        backdrop-filter: blur(5px);
        background: rgb(255 255 255 / 75%);
        background: rgb(250 250 250 / 75%);
}

.formFoot span{
    margin: 1vmin calc(1vmin + 0.2vw);
}

/* ------------------------------------------------------ Alert Module ----------------------------------------------------------*/
.alertWrp{
    line-height: 1.5;
    text-align: center;
    padding-top: calc(var(--svgIcon-padding-small)* 2) 1vmin;
    box-sizing: border-box;
}

.alertGeneraltMsg{
    margin: 5vh 0.5em;
    line-height: 2em;
}

.alertChoiceWrp{
    display: table;
    width: 100%;
    border-spacing: var(--svgIcon-padding-small);
}

.alertChoice{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    cursor: pointer;
    transition: box-shadow 0.2s linear;
    font-size: 0.8em;
    padding: 1em 0;
    border-bottom: var(--trace-gray-240);
}

.alertChoice:hover{
    box-shadow: 0px 1px 0px var(--app-shade-grey-0);
}

.alertChoice:active{
    /* background: var(--app-shade-grey-245); */
    background: var(--module-bckg);
}
/* Install App, Update App */
.installApp, .updateApp{
    position: fixed;
    bottom: 10vh;
    left: calc((100% - (min(var(--max-app-width), 100%))) / 2);
    transform: translateX(-50vw);
    transition: transform 0.5s ease-out;
    z-index:2;
    background-image: url(../../../assets/static/appSvg/sprite.svg#installApp);
    padding: var(--svgIcon-padding-big);
}

.installApp{
    background-image: url(../../../assets/static/appSvg/sprite.svg#installApp);
}

.updateApp{
    bottom: 20vh;
    background-image: url(../../../assets/static/appSvg/sprite.svg#updateApp);
}

.installApp.in, .updateApp.in{
    transform: translateX(0%);
}

.installApp.out, .updateApp.out{
    transform: translateX(-50vw);
}

.uiBlur, .killablePopUp{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index:2;
}

.killablePopUp .crosx{
    padding: 3rem;
}

/* Barcode Share*/

.barcodeContainer{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 85vmin;
    height: 85vmin;
    background: white;
    padding: 5vmin;
    display: flex;
    box-shadow: 1vmin 1vmin 2vmin var(--app-shade-grey-100);
    border-radius: 5vmin;
}

.secreSyncBarcode{
    position: absolute;
    padding: 3rem;
    background-image: url(../../../assets/static/appSvg/sprite.svg#secreSyncBarcode);
}
/*Export Filter*/
.exportFilteredWrp{
    overflow:auto;
}
.exportVend{
padding: 2vh;
    text-indent: max(5vw, 2rem);
    background: white;
    display: block;
    margin: 1vh 3vw;
}

.exportVend:before{

    margin: -0.25em min(-5vw, -2rem);
}

.willExport{
    background: rgb(0, 255, 30);
}
.exportFilteredBar{
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 2vh;
    background: #e7e7e7;
}

/* CONTEXT MENU*/


/* SETTINGS*/
.settingsSection{
    width: 100%;
    height: 100%;
    max-width: var(--max-app-width);
    /* backdrop-filter: blur(2px); */
    z-index: 2;
    background: rgb(128 128 128 / 50%);
    position: relative;
    /* font-size: 0.6rem; */
    backdrop-filter: blur(5px);
}

.settingsSection:before{
content: "";
    position: absolute;
    /* top: 0; */
    right: 0;
    padding: var(--svgIcon-padding-small);
    background-image: url(../../../assets/static/appSvg/sprite.svg#cross);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
/*     margin-right: 0.5em;
    margin-top: 0.5em;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 2px 1px var(--app-shade-grey-100);
    border-radius: 0.5rem; */
    margin: 2mm;
    border-radius: 15%;
}

/* html.invert .settingsSection:before{
    box-shadow: -1px -1px 2px 1px var(--app-shade-grey-100);
}
 */
.settingsWrp{
    background: var(--module-bckg);
    display: flex;
    /* align-content: flex-start; */
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* max-height: 50vh; */
    /* margin: 10mm; */
    /* overflow: auto; */
    /* position: absolute; */
    /* padding: 1vmin; */
    /* border-radius: 1rem; */
    
        /* box-shadow: 1px 1px 4px 1px var(--app-shade-grey-100) */
        
        padding: 0 14mm;
        justify-content: space-evenly;
}

html.invert .settingsWrp{
        box-shadow: -1px -1px 4px 1px var(--app-shade-grey-100);
}


.appWidthWrp, .maxRevisionsWrp, .logOffAppWrp, .appLayoutWrp{
    position: relative;
    width: calc(100% + 28mm);
    margin: 0 -14mm;
    border-top: var(--trace-gray-190);
}

.settingsWrp .langWrp{
    position: absolute;
    left:0;
/*     border-radius: 0 0 0.5em 0.5em;
     background: var(--module-bckg); */
}

.settingsWrp .svgIcon{
        margin: 2mm;
}
.settingsWrp .svgIcon:not(.active){
    opacity:0.3;
}

/*GLOBALS -------------------------------- */
.toolTip{
    position: fixed;
    font-size: 0.6rem;
    background: var(--app-shade-grey-255);
    padding: 0.5rem;
    z-index: 1000;
    /* white-space: pre-line; */
    margin: 8px;
    border-radius: 0.6rem;
    border: 1px solid var(--app-shade-grey-220);
    max-width: 50%;
    line-height: 1.5;
    text-align: center;
}

.elDimmed{
    opacity:0.2;
    filter: unset;
}

.elNoDisplay{
    display:none;
}

.elSlideOut{
    transform: translateX(-100%);
}

.zIndex0{
    z-index:0;
    pointer-events: none;
}

.zIndex2{
    z-index:2;
    opacity: 1;
    pointer-events: all;
}

/* TEST*/
.removeDrop{

    position: fixed;
    bottom: 0vh;
    left: 0;
    padding: 0.75rem;
    background: green;
    z-index: 2;
    display: none;

}
.svgIcon.noDrop{
    filter: unset;
}
